/* Language */
.ico_button {padding:4px;display:block;padding-left:25px;background-repeat:no-repeat;background-position:5px 50%;text-decoration:none;border:none;}
.ico_button_pt_BR, .ico_button_pt-BR, .ico_button_pt   {background-image:url(../images/flag_br.png);}
.ico_button_fr_FR, .ico_button_fr-FR, .ico_button_fr   {background-image:url(../images/flag_fr.png);}
.ico_button_es_ES, .ico_button_es-ES, .ico_button_es   {background-image:url(../images/flag_es.png);}
.ico_button_it_IT, .ico_button_it-IT, .ico_button_it   {background-image:url(../images/flag_it.png);}

/* ************************sidebar common******************************* */
#fdxerror { color: red; font-size: 15px; font-weight: bold; margin: 10px; text-align: center; padding: 3px }

.postbox p { padding: 0 5px 0 5px !important  }
.fdx { font-size: 13px !important; font-weight: normal !important; text-align: left !important}
.fdx td { padding: 10px }
.itens { width: 250px !important }
small { color: #535353; }
.red { color: red }

code.red {font-family: Verdana, Arial, Helvetica, sans-serif;  background-color:#FFCC66; color:#000000; padding:0px 5px 0px 5px; height:20px;border:1px solid #FF6600;border-radius:3px;}
span#butpop a  {  text-decoration: none !important }
h5 { padding: 0!important; margin: 0 !important; font-size: 11px !important }

a.sm_button {padding:4px;display:block;padding-left:25px;background-repeat:no-repeat;background-position:5px 50%;text-decoration:none;border:none;}
a.sm_button:hover {border-bottom-width:1px;}
a.sm_bug {background-image:url(../images/bug.png);}
a.sm_code {background-image:url(../images/code.png);}
a.sm_autor {background-image:url(../images/menu_fdx.png);}
a.sm_lang {background-image:url(../images/locate.png);}

a.sm_star {background-image:url(../images/star.png);}
a.sm_link {background-image:url(../images/link.png);}

a.sm_bullet {background-image:url(../images/bullet.png);}
em.none { color: #808080; font-size: 10px  }

#icon-fdx-lock {background: url('../images/logo_icon.png') no-repeat scroll transparent;}
.admin-color-classic #icon-fdx-lock {background: url('../images/logo_icon.png') no-repeat scroll transparent !important;}

/* htabs ****widget */
.tabsCell{padding:0 0 15px;}
ul.tabs{float:left;list-style:none;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:11px;margin:0;padding:0;}
ul.tabs li{float:left;overflow:hidden;position:relative;margin:0;padding:0;}
ul.tabs li a{text-decoration:none;font-size:13px;display:block;outline:none;padding:4px 10px 4px 10px;}
ul.tabs li a:hover{}
ul.tabs li.active a{font-weight:bold;}
ul.tabs li.active a:hover{font-weight:bold;}
ul.tabs li.active{ background: url(../images/arrow-down.png) no-repeat center 19px; padding-bottom: 8px; margin-top: -8px }
.tab_container{}
.tab_container p{}
.tab_content{}


/* ***************************************************************** */
.postbox h3 span.icon1,.postbox h3 span.icon2,.postbox h3 span.icon3,.postbox h3 span.icon4,.postbox h3 span.icon5,.postbox h3 span.icon6,
.postbox h3 span.icon7, .postbox h3 span.icon8 {
	height: 16px;
	margin-right: 5px;
	width: 16px;
	display: block;
	float: left;
	bottom: 2px;
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
}



.postbox h3 span.icon1 {
	background: url(../images/h3_icons/ico1.png);
}

.postbox h3 span.icon2 {
	background: url(../images/h3_icons/ico2.png);
}
.postbox h3 span.icon3 {
	background: url(../images/h3_icons/ico3.png);
}

.postbox h3 span.icon4 {
	background: url(../images/h3_icons/ico4.png);
}

.postbox h3 span.icon5 {
	background: url(../images/h3_icons/widget.png);
}

.postbox h3 span.icon6 {
	background: url(../images/h3_icons/stat.png);
}

.postbox h3 span.icon7 {
	background: url(../images/h3_icons/style.png);
}

.postbox h3 span.icon8 {
	background: url(../images/h3_icons/posit.png);
}

.long {
	width: 300px;
}


.fdx-left-content {
	width: 38%;
	float: left;
	padding-right: 10px;
	margin-top: 10px;
	position: relative;
}

.fdx-left-content h4 {
	font-size: 14px;
	color: #d54e21;
	letter-spacing: -1px;
	margin: 0 0 5px;
	padding: 0;
}

.fdx-left-content p {
	margin-top: 0;
}

.fdx-left-content ul {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.fdx-left-content li {
	color: #536e90;
	margin: 0 5px;
	padding: 1px 0;
	list-style-type: circle;
	list-style-position: inside;
}

.fdx-right-content {
	width: 53%;
	float: left;
	margin-left: 3%;
	border-left: 1px solid #e6e6e6;
	margin-bottom: -10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 15px;
  }

.fdx-right-content li {
	list-style-type: none;
}

.fdx-clear {
	clear: both;
}

